html {
    height: 100%; /* We still have to fix html height */
    min-height: 100vh;
  }
/*------------------------------GENERAL----------------------------*/
body{
    display: flex;
    flex-direction: column;
    
    min-height: 100vh;
    margin:0;
}

.content-item{
    width:100%;
    height:100%;
    
    border: 0;
}

/*------------------------------HEADER----------------------------*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:16px;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 24px;
    font-weight: bolder;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

ul{
    font-weight: lighter;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    list-style:none;
    display: flex;
    gap:10px;

}

/*------------------------------FOOTER----------------------------*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width:100%;
}

/*////////////////////////////////////////////////////////////  C O N T E N T   //////////////////////////////////////////////////////////////////////////////*/
.content{
    display: flex;
   
    flex-direction: column;
    justify-content: space-between;
    flex:3;
    align-content: center;
    
    
}



/*------------------------------First_INFO----------------------------*/
.info{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    padding:90px;
    gap:16px;
    font-family: Helvetica, sans-serif;
}

.info-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width:500px;
}

h1{
    color:  #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin:0;
}

p{
    color:#e5e7eb;
    font-size: 18px;
    margin:8px;
}

.info img{
    max-width:500px;
    border-radius: 12px;
}

button {
    font-family: Roboto, sans-serif;
    max-width:20%;
    border: none;
    border-radius: 8px;
    padding:8px 16px;
    color:white;
    background: #3882f6;
    flex-shrink:0;

  }


/*------------------------------SECOND_INFO----------------------------*/

.more-info{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:90px;
    padding-top: 10px;
    font-family: Helvetica, sans-serif;
}

h2{
    font-size: 36px;

}

.boxes{
    display:flex;
    
    
    max-width: 600px;
    text-align: center;
    justify-content: space-between;
    font-size: 12px;
    gap:12px;
}

.boxes div{
    max-width: 106;
}

.boxes img{
    
    width:100px;
    height:100px;
    border: solid 3px #1f2937;
    border-radius: 10px;

}





/*------------------------------QUOTE----------------------------*/
.quote{
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding:90px;
}
 .quote p{
    color:black;
    background-color: #e5e7eb;
    font-size: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width:800px;
    border:0;
    


}

/*------------------------------SIGN_UP----------------------------*/

.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:90px;
    font-family: Helvetica, sans-serif;
}

.sign-up-item{
    display: flex;
    padding:50px;
    width:900px;
    border-radius: 8px;
    background-color: #3882f6;
    justify-content: space-around;
}

.sign-up-text{
    display:flex;
    flex-direction: column;
    font-size: 25px;
    color: #f9faf8;
}

.sign-up-text p{
    font-size: 12px;
    margin:0;
}

.sign-up-item button{
    border: solid white;
    width:15%;
    font-weight: bold;
}